button{
    color: gold;
    background-color: white;
    padding: 5px;
    border: 2px solid teal;
    margin: auto;
    display: block;
}

input {
    border: 1px solid grey; 
    padding: 5px; 
    display: block;
    margin: auto;
    min-height: 3vh;
    max-width: 70vw;
    min-width: 70vw;
    padding-left: 1vw;
}

form{
    padding: 10px;
    margin: auto;
    place-content: center;
    text-align: left;
    min-height: 3vh;
    max-width: 70vw;
    min-width: 70vw;
}

label{
    display: block;
    text-align: center;
}